.btn-img {
  width: 125px;
  height: 125px;
}

.btn-rnd {
  width: 175px;
  height: 175px;
  border-radius: 500px;
}

.btn-rnd:hover {
  background: #FF0000;
}

.fa-times {
  color: red;
}
